  .content section .week-days .days .tasks {
    background-color: var(--gray-more-light);
    width: 14.28%;
    height: auto;
    min-height: 70px;
    border: 1px solid var(--white);
    display: flex;
    flex-direction: column;
  }

  .content section .week-days .days .tasks span {
    color: var(--gray-dark);
    font-size: 14px;
    margin-left: 5px;
  }

  .content section .week-days .days .tasks .task {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
  }